$dark-red: #a62424ac;
$light-red: #faa;

$green-clr: #7dc77d;
$text-clr: #4d4d4d;
$placeHolder-clr: #4d4d4d91;

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ccc;
}

.App {
  text-align: center;
  max-width: 50%;
  height: 50vh;
  margin: 22vh auto;
  position: relative;
}
.title {
  color: $dark-red;
  font-size: 50px;
  margin-bottom: 0;
  text-decoration: underline;
}
.input {
  box-sizing: border-box;
  min-width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 40px 0;
  padding-left: 60px;
  margin-top: 50px;
  color: $text-clr;
  border-bottom: 4px solid $dark-red;
  transition: all ease .5s;

  &::placeholder {
    color: $placeHolder-clr;
  }

  &:hover {
    box-shadow: 0 0 10px #000;
    border-bottom: none;
    }
}

.list {
  padding: 0;
  margin: 0;
}
.list-item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
  font-size: 28px;
  background-color: #fff;
  color: $text-clr;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;

  :last-child {
  margin-bottom: 100px;
  }
  .completed-btn {
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: $green-clr;
    background-color: transparent;
    cursor: pointer;
    padding-top: 10px;
    margin-left: 10px;
  }

  .delete-btn {
    margin-left: auto;
    margin-right: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 100px;

    color: $dark-red;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
  }
  &:hover .delete-btn {
    opacity: 1;
  }
  .list-text {
    margin-left: 50px;
    align-self: center;
    margin-left: 30px;
  }
}
.completed{
  color: #4d4d4d7a;
  text-decoration: line-through;
}
// BUTTONS
.counter {
  position: absolute;
  top: 80px;
  left: -50px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.statusButton {
  position: absolute;
  display: flex;
  background-color: $dark-red;
  top: 270px;
  left: -143px;
  transform: rotate(-90deg);
  border-radius: 5px;

  button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
  }
}

.deleteCheck-btn {
  position: absolute;
  top: 100px;
  right: -60px;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  color: $text-clr;
  transition: all ease .2s;

  &:hover {
    transform: scale(1.5);
    color: $dark-red;
  }
}

.allCompleted-btn {
  position: absolute;
  top: 130px;
  left: 5px;
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;
  font-size: 28px;
  color: #faa;
  background-color: transparent;
  cursor: pointer;
}
// BUTTONS

// ALERT
.alert-wrapper {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
// ALERT

.alert-success {
  background-color: $green-clr;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
}
.alert-warning {
  background-color: $dark-red ;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
}